<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Séries</title>
    </head>
    <body>
        {% set coucou = 'coucou bien sur' %}
        <h1>{{ coucou }}</h1>
    </body>
</html>
