{% extends 'base.html.twig' %}

{% block title %}
    todo Afficher le titre de la série | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        afficher les séries
    </section>
{% endblock %}
